<template>
  <div class="about">
    <el-row>
      <el-col :span="12">
        <div class="grid-content bg-purple-dark">
          <el-table :data="intentList" stripe style="width: 100%">
            <el-table-column prop="Id" label="Count" width="80"></el-table-column>
            <el-table-column prop="Intent" label="Intent" width="180"></el-table-column>
            <el-table-column prop="Desc" label="Desc" width="480"></el-table-column>
          </el-table>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="grid-content bg-purple-dark">
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <h3>Need more phrases.</h3>
              <br />
              <span>Abbreviation:</span>
              <br />
              <span>cl. client pr. partner</span>
            </div>
          </el-card>
        </div>
      </el-col>
    </el-row>
    <el-table :data="chatList" border stripe style="width: 100%">
      <el-table-column prop="Created" label="Date" width="180"></el-table-column>
      <el-table-column prop="Textin" label="Client" width="600"></el-table-column>
      <el-table-column prop="Textout" label="Bot" width="400"></el-table-column>
      <el-table-column prop="Source" label="Source" width="80"></el-table-column>
      <el-table-column prop="Class" label="Class" width="180"></el-table-column>
      <el-table-column prop="Score" label="Sco" width="70"></el-table-column>
      <el-table-column label="Insert" width="100">
        <template slot-scope="scope">
          <el-button size="mini" type="primary" @click="handleShow(scope.row)">Insert</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      id: this.$route.params.id,
      chatList: [],
      intentList: [],
      serverurl: ""
    };
  },
  mounted() {
    const options = {
      headers: { "To-Do": "chat" }
    };
    axios
      .post(
        this.$store.state.serverurl + "chat",
        {
          Chatuuid: this.id
        },
        options
      )
      .then(response => {
        // this.chatsList = [...response.data].slice(0, 10);
        this.chatList = response.data;
      })
      .catch(err => {
        console.log(err);
      });
    axios
      .get(this.$store.state.serverurl + "moreintents")
      .then(response => {
        // this.chatsList = [...response.data].slice(0, 10);
        this.intentList = response.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods: {
    handleShow: function(row) {
      // console.log("textin" + row.Textin);
      this.$store.dispatch("setAsk", row);
      this.$router.push("/insert");
    }
  },

  computed: {
    asktoinsert() {
      return this.$store.state.ask;
    },
    // lastphrases() {
    //   return this.$store.state.lastphrases;
    // }
  }
};
</script>
<style scoped>
.box-card {
  width: 50%;
}
</style>
