<template>
  <div class="about">
    <h4>total {{resultCount}} for 72h</h4>
    <el-table
      ref="multipleTable"
      :data="chatsList"
      border
      stripe
      style="width: 50%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column prop="Date" label="Date" width="180"></el-table-column>
      <el-table-column prop="Count" label="Count" width="70"></el-table-column>
      <el-table-column label="Chat" width="150">
        <template slot-scope="scope">
          <el-button size="mini" type="primary" @click="handleShow(scope.row)">Show</el-button>
        </template>
      </el-table-column>
      <el-table-column type="selection" width="55"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      chatsList: [],
      multipleSelection: [],
      selected: []
    };
  },
  mounted() {
    this.$store.dispatch("showmenu", false);
    this.selected = this.$store.state.sdataTable;
    const options = {
      headers: { "To-Do": "chats" }
    };
    axios
      .get(this.$store.state.serverurl+"chats", options)
      .then(response => {
        this.chatsList = response.data;
        var self = this;

        setTimeout(function() {
          self.toggleSelected();
        }, 3000);
      })
      .catch(err => {
        console.log(err);
      });
  },

  methods: {
    toggleSelected() {
      var self = this;
      var collectcount = [];
      var count = 0;
      this.chatsList.forEach(function(item) {
        self.selected.forEach(function(sitem) {
          if (item.Chatuuid === sitem) {
            collectcount.push(count);
          }
        });

        count = count + 1;
      });

      collectcount.forEach(function(item) {
        //  console.log(item)

        self.$refs.multipleTable.toggleRowSelection(self.chatsList[item]);
      });
      this.$store.dispatch("showmenu", true);
    },

    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          // console.log(row);
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleShow: function(row) {
      // console.log("/chat/" + row.Chatuuid);
      this.$refs.multipleTable.toggleRowSelection(row);
      this.$router.push("/chat/" + row.Chatuuid);
    },
    handleSelectionChange(val) {
      var self = this;
      this.multipleSelection.length = 0;
      val.forEach(function(item) {
        // console.log(item.Chatuuid);
        self.multipleSelection.push(item.Chatuuid);
      });

      this.$store.dispatch("addSelection", this.multipleSelection);
    }
  },
  computed: {
    resultCount() {
      return this.chatsList.length;
    }
  }
};
</script>
