<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <el-card v-if="!resultAuth" class="box-card">
      <el-form ref="form" v-on:submit="submitForm" label-width="120px">
        <el-form-item label="Password" prop="name">
          <el-input v-model="login"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm()">Login</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <el-card v-if="resultAuth" class="box-card">
      <h3>Ok! You are ready make love!!"</h3>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      login: "",
      auth: false
    };
  },

  methods: {
    submitForm() {
      this.$store.dispatch("loginauth", this.login);
    }
  },
  computed: {
    resultAuth() {
      return this.$store.state.auth;
    }
  }
};
</script>
<style scoped>
.box-card {
  width: 380px;
  margin-left: 250px;
}
</style>
