<template>
  <div class="about">
    <el-row>
      <el-col :span="12">
        <el-table
          ref="multipleTable"
          :data="entitysList"
          border
          stripe
          style="width: 100%"
          @selection-change="handleSelectionChange"
        >
          >
          <el-table-column prop="Desc" label="Desc" width="480"></el-table-column>
          <el-table-column prop="Intent" label="Intent" width="190"></el-table-column>
          <el-table-column type="selection" width="55"></el-table-column>
        </el-table>
      </el-col>
      <el-col :span="12">
        <el-card v-if="!checkout" class="box-card">
          <h3>INSERT:{{asktoinsert.Textin}}</h3>
          <h3>MAYBE:"{{asktoinsert.Class}}"? Score:{{asktoinsert.Score}}</h3>
          <el-button @click="checkSelection()">CheckOut</el-button>
          <el-button @click="toggleSelection()">Clear selection</el-button>
        </el-card>

        <h3 v-if="this.multipleSelection.length === 1">{{multipleSelection[0].Intent}}</h3>

        <el-card v-if="checkout" class="box-card">
          <h3>PHRASE: {{asktoinsert.Textin}}</h3>
          <h3>INTENT: {{multipleSelection[0].Intent}} id:{{multipleSelection[0].Id}}</h3>
          <el-button @click="insertphrase" type="danger" class="button">Insert</el-button>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      entitysList: [],
      multipleSelection: [],
      checkout: false
    };
  },
  mounted() {

    // console.log("posurl",this.$store.state.postserverurl)
    const options = {
      headers: { "To-Do": "intents" }
    };
    axios
      .get(this.$store.state.serverurl+"intents", options)
      .then(response => {
        // this.chatsList = [...response.data].slice(0, 10);
        this.entitysList = response.data;
      })
      .catch(err => {
        console.log(err);
      });
  },

  computed: {
    asktoinsert() {
      return this.$store.state.ask;
    }
  },
  methods: {
    handleShow: function(row) {
      this.$router.push("/chat/" + row.Chatuuid);
    },
    toggleSelection() {
      this.checkout = false;

      this.$refs.multipleTable.clearSelection();
    },
    checkSelection() {
      if (this.multipleSelection.length === 0) {
        this.$notify({
          title: "Select ONE intent.",
          message: "!!!!!",
          duration: 3000
        });
      } else if (this.multipleSelection.length > 1) {
        this.$notify({
          title: "Select ONE intent.",
          message: "Clear selection",
          duration: 3000
        });
      } else {
        this.checkout = true;
      }
    },
    insertphrase() {
      // console.log(this.$store.state.postserverurl)
      const options = {
        headers: { "To-Do": "insertask" }
      };
      axios
        .post(this.$store.state.serverurl+"insertask",{
          Phrase: this.$store.state.ask.Textin,
          Intent: this.multipleSelection[0].Id
        },options)
        .then(response => {
          console.log(response.status);
          this.$notify({
            title: "OK",
            message: this.$store.state.ask.Textin + "  Inserted!!",
            duration: 3000
          });

          this.toggleSelection();
          this.$store.dispatch("addLastPhrase", this.$store.state.ask.Textin);
          this.$router.back();
        })
        .catch(err => {
          console.log(err);
        });
    },

    handleSelectionChange(val) {
      this.multipleSelection = val;
    }
  }
};
</script>

<style>
</style>
