<template>
  <div class="about">
    <el-row>
      <el-col :span="14">
        <el-table v-if="bigTable" :data="chatList" border stripe style="width: 100%">
          <el-table-column prop="Id" label="Id" width="50"></el-table-column>
          <el-table-column prop="Intent" label="Intent" width="220"></el-table-column>
          <el-table-column prop="Desc" label="Desc" width="580"></el-table-column>
          <el-table-column label="Modify" width="100">
            <template slot-scope="scope">
              <el-button size="mini" type="warning" @click="handleModify(scope.row)">Modify</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :span="10"></el-col>

      <el-card v-if="bigTable" class="box-card">
        <el-form ref="form" :model="form" label-width="120px">
          <el-form-item label="Intent">
            <el-input v-model="form.intent"></el-input>
          </el-form-item>
          <el-form-item label="Desc">
            <el-input v-model="form.desc"></el-input>
          </el-form-item>
          <el-form-item label="Templ">
            <el-input v-model="form.template"></el-input>
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="onSubmit">Create</el-button>
            <el-button>Cancel</el-button>
          </el-form-item>
        </el-form>
      </el-card>

      <el-card v-if="modify" class="mbox-card">
        <el-form ref="mform" :model="mform" label-width="120px">
          <el-form-item label="Intent">
            <el-input v-model="mform.intent"></el-input>
          </el-form-item>
          <el-form-item label="Desc">
            <el-input v-model="mform.desc"></el-input>
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="makeModify">Modify</el-button>
            <el-button @click="handleCancel">Cancel</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      chatList: [],
      bigTable: true,
      modify: false,
      selectedIntentid: "",
      selectedIntent: "",
      selectedDesc: "",
      form: {
        intent: "",
        desc: "",
        template: ""
      },
      mform: {
        intent: "",
        desc: ""
      }
    };
  },
  mounted() {
    const options = {
      headers: { "To-Do": "intents" }
    };
    axios
      .get(this.$store.state.serverurl + "intents", options)
      .then(response => {
        // this.chatsList = [...response.data].slice(0, 10);
        this.chatList = response.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods: {
    handleCancel: function() {
      this.bigTable = true;
      this.modify = false;
    },
    handleModify: function(row) {
      console.log(row.Desc);
      this.bigTable = false;
      this.modify = true;
      this.selectedIntent = row.Intent;
      this.selectedDesc = row.Desc;
      this.selectedIntentid = row.Id;
      this.mform.intent = row.Intent;
      this.mform.desc = row.Desc;
    },
    makeModify: function() {
      console.log(this.selectedIntentid);
      console.log(this.mform.intent);
      console.log(this.mform.desc);

      const options = {
        headers: { "To-Do": "updateintent" }
      };
      axios
        .post(this.$store.state.serverurl + "updateintent", {
          Id: this.selectedIntentid,
          Desc: this.mform.desc,
          Intent: this.mform.intent,
        },options)
        .then(response => {
          if (response.status === 200) {
            this.$notify({
              title: "OK " + this.mform.intent + "  Updated!!",
              message: "But Check it!",
              duration: 7000
            });

            this.mform.intent = "";
            this.mform.desk = "";
            this.bigTable = true;
            this.modify = false;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },

    onSubmit() {
      const options = {
        headers: { "To-Do": "newintent" }
      };

      if (
        this.form.intent === "" ||
        this.form.desc === "" ||
        this.form.template === ""
      ) {
        this.$notify({
          title: "Ooops can't be empty",
          message: "Pls. fill ALL fields",
          duration: 5000
        });
      } else {
        axios
          .post(
            this.$store.state.serverurl + "newintent",
            {
              Intent: this.form.intent,
              Desc: this.form.desc,
              Template: this.form.template
            },
            options
          )
          .then(response => {
            if (response.status === 200) {
              this.$notify({
                title: "OK " + this.form.intent + "  Inserted!!",
                message: "Insert more templates!!!",
                duration: 5000
              });
              this.form.intent = "";
              this.form.desc = "";
              this.form.template = "";
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  }
};
</script>
<style scoped>
.box-card {
  width: 580px;
}
.mbox-card {
  width: 50%;
}
</style>
