<template>
  <div class="about">
    <el-container>
      <el-table v-if="bigTable" :data="entityList" border stripe style="width: 100%">
        <el-table-column prop="Intentid" label="Id" width="50"></el-table-column>
        <el-table-column prop="Intent" label="Intent" width="280"></el-table-column>
        <el-table-column prop="Template" label="Template" width="800"></el-table-column>
        <el-table-column label="Add" width="90">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="handleAdd(scope.row)">Add</el-button>
          </template>
        </el-table-column>
        <el-table-column label="Modify" width="100">
          <template slot-scope="scope">
            <el-button size="mini" type="warning" @click="handleModify(scope.row)">Modify</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-card v-if="!bigTable" class="box-card">
        <h3>Intend: {{selectedIntent}} id:{{selectedIntentid}}</h3>
        <el-form ref="form" :model="form" label-width="120px">
          <el-form-item label="Templ">
            <el-input v-model="form.template"></el-input>
          </el-form-item>
         <el-form-item v-if="modify">
            <el-button type="primary" @click="makeModify">Modify</el-button>
            <el-button @click="handleCancel">Cancel</el-button>
          </el-form-item>
          <el-form-item v-if="add">
            <el-button type="primary" @click="makeAdd">ADD</el-button>
            <el-button @click="handleCancel">Cancel</el-button>
          </el-form-item>

 
        </el-form>
      </el-card>
    </el-container>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      entityList: [],
      bigTable: true,
      add: false,
      modify: false,
      form: {
        template: ""
      },
      selectedIntent: "",
      selectedIntentid: "",
      selectedTemplate: "",
    };
  },
  mounted() {
    const options = {
      headers: { "To-Do": "templates" }
    };
    axios
      .get(this.$store.state.serverurl +"templates", options)
      .then(response => {
        // this.chatsList = [...response.data].slice(0, 10);
        this.entityList = response.data;
      })
      .catch(err => {
        console.log(err);
      });
  },

  methods: {
    handleModify: function(row) {
      this.bigTable = false;
      this.add = false;
      this.modify = true;
      this.selectedIntent = row.Intent;
      this.selectedIntentid = row.Intentid;
      this.selectedTemplate = row.Template
      this.form.template = row.Template;
    },

    handleAdd: function(row) {
      this.bigTable = false;
      this.add = true;
      this.modify = false;
      this.selectedIntent = row.Intent;
      this.selectedIntentid = row.Intentid;
      this.form.template = row.Template;
    },
    handleCancel: function() {
      this.bigTable = true;
      this.add = false;
      this.modify = false;
    },

    makeModify: function() {
      const options = {
        headers: { "To-Do": "updatetemplate" }
      };
      axios
        .post(
          this.$store.state.serverurl+"updatetemplate",
          {
            Intentid: this.selectedIntentid,
            Templateold: this.selectedTemplate,
            Templatenew: this.form.template
          },
          options
        )
        .then(response => {
          if (response.status === 200) {
            this.$notify({
              title: "OK " + this.form.template + "  Updated!!",
              message: "But Check it!",
              duration: 7000
            });

            this.form.template = "";
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    makeAdd: function() {
      const options = {
        headers: { "To-Do": "newtemplate" }
      };
      axios
        .post(
          this.$store.state.serverurl+"newtemplate",
          {
            Intentid: this.selectedIntentid,
            Template: this.form.template
          },
          options
        )
        .then(response => {
          if (response.status === 200) {
            this.$notify({
              title: "OK " + this.form.template + "  Inserted!!",
              message: "Insert more templates?",
              duration: 5000
            });

            this.form.template = "";
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style scoped>
.box-card {
  width: 1080px;
}
</style>

