<template>
  <div id="app">
    <div v-if="menuVisible" id="nav">
      <router-link to="/">Home</router-link>|
      <router-link to="/chats">Chats</router-link>|
      <router-link to="/intents">Intents</router-link>|
      <router-link to="/templates">Templates</router-link>
    </div>
    Score level: {{score}}
    <router-view />
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      score: "",
      menuVisible: true
      
    };
  },
  mounted() {
      const options = {
      headers: { "To-Do": "score" }
    };
    axios
      .get(this.$store.state.serverurl+"score", options)
      .then(response => {
        this.score = response.data.Score;
      })
      .catch(err => {
        console.log(err);
      });
  },

  created() {
    this.$store.watch(

      (state) => state.menuVisible,(newValue, oldValue) => {
    
          console.log(`Updating from ${oldValue} to ${newValue}`);
          this.menuVisible=newValue

      }

    )
  }
 
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.about {
  margin-left: 40px;
}
</style>
